.container-body{
    padding:80px;    
}

table {
  width: 100%;
}
 
  .project-label {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    padding:50px;
  }

  .divider{
    width:60px;
    height:auto;
    display:inline-block;
}

.mat-label{
    display: inline-block;
    margin-bottom: .50rem;
    clear: left;
    padding-right: 40px; 
    color:#58427C;
    font-style:bold;
    font-weight: 600;
  }
  
  .mat-card-style{
    text-align: center;
    justify-content: center;
  }
 
 

.header-cell{
  font-size:15px;
  font-weight: 1.5rem;
  color:#f8e9fe	;
  font-family:'Verdana';
}

.header-row{
  background:#de6fa1;
}  

.custom-flat-button{   
   float: right;
   margin-bottom:10px;
}

.fas-icon-del{
  color:#ff424e;
}

.fas-icon-edit{
  color:#7e9f2e;
}

 

  

