<div class="container-body">
  <div class="project-label">
    <div>
      <label class="mat-label">Project:</label>
      <label class="mat-text">{{currentDomain?.projectName|titlecase|removeunderscore}}</label>

      <div class="divider"></div>

      <label class="mat-label">Project Id:</label>
      <label class="mat-text">{{currentDomain?.id }}</label>

      <div class="divider"></div>

      <label class="mat-label">Domain:</label>
      <label class="mat-text">{{currentDomain?.domainName |titlecase|removeunderscore}}</label>
    </div>
  </div>

  <!-- Mat table to display data -->
  <div *ngIf="dataSource.length>0">
    <button mat-flat-button class="custom-flat-button" color="primary" (click)="addRecord()">Add Record</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length>0">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> {{column|titlecase|removeunderscore}} </th>
      <ng-container *ngIf="column !='Actions'">
        <td mat-cell *matCellDef="let element">{{element[column] !=null ? element[column] :'Null'}}</td>
      </ng-container>
      <ng-container *ngIf="column =='Actions'">
        <td mat-cell *matCellDef="let actionItem">
          <button mat-button (click)="edit(actionItem)"><i class="fas fa-edit fas-icon-edit"></i></button>
          <button mat-button (click)="delete(actionItem)"><i class="fa fa-trash fas-icon-del"
              aria-hidden="true"></i></button>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Mat card to display if there is no records-->
  <mat-card *ngIf="dataSource.length==0" class="mat-card-style">No records found. Click on the link to
    <a [routerLink]="['/api/crud_processor/add']">add</a> data </mat-card>

</div>