<h4>Create your API</h4>
<mat-horizontal-stepper linear labelPosition="bottom" #stepper>
  <mat-step [stepControl]="projectFormGroup" [editable]="isEditable">
    <form [formGroup]="projectFormGroup" class="parent">
      <ng-template matStepLabel>Create Project & Domain</ng-template>
      <div>
        <label class="mat-label">Project Name : </label>
        <mat-form-field>
          <input matInput placeholder="Project name" formControlName="projectCtrl" required autocomplete="off">
        </mat-form-field>
      </div>
      <div>
        <label class="mat-label">Domain Name : </label>
        <mat-form-field>
          <input matInput placeholder="Domain name" formControlName="domainCtrl" required autocomplete="off">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="accent" matStepperNext (click)="submitProject()">Next</button>

      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="domainFieldsFormGroup" [editable]="isEditable">
    <form [formGroup]="domainFieldsFormGroup" class="parent">
      <ng-template matStepLabel>Add your domain fields</ng-template>
      <p class="mat-para">Add your field name and field data type</p>
      <div formArrayName="fieldControls">
        <div *ngFor="let item of domainFieldsFormGroup.get('fieldControls').controls; let i=index;">
          <div [formGroupName]="i">
            <mat-form-field class="mat-label">
              <input matInput placeholder="Field Name" formControlName="fieldNameCtrl" required autocomplete="off">
            </mat-form-field>

            <mat-form-field class="mat-label">
              <mat-select formControlName="fieldTypeCtrl">
                <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.value">
                  {{fieldType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="add()"><strong>+</strong></button>
          </div>
          Chosen name :{{domainFieldsFormGroup.controls.fieldControls.controls[i].controls.fieldNameCtrl.value}}
          Chosen type :{{domainFieldsFormGroup.controls.fieldControls.controls[i].controls.fieldTypeCtrl.value}}
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <div class="divider"></div>
        <button mat-raised-button color="accent" matStepperNext (click)="submitDomainFields()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Status</ng-template>
    <div class="parent">
      <!-- <p class="mat-label">Successfully created API for the domain employees.</p>        -->
      <div>
        <label class="mat-label">Project:</label>
        <label class="mat-text">Geoscience</label>

        <label class="mat-label">Project Id:</label>
        <label class="mat-text">ec9164b0-a7ed-11e9-bf1f-d51928148523</label>

        <label class="mat-label">Domain:</label>
        <label class="mat-text">employees</label>
      </div>
      <div>
        <mat-table [dataSource]="API_DATA" class="mat-elevation-z8">
          <!-- Name Column -->
          <ng-container matColumnDef="endpoint_name">
            <th mat-header-cell *matHeaderCellDef> Endpoint Name </th>
            <td mat-cell *matCellDef="let element"> {{element.endpoint_name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="endpoint_url">
            <th mat-header-cell *matHeaderCellDef> Endpoint Url </th>
            <td mat-cell *matCellDef="let element"> {{element.endpoint_url}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="method_type">
            <th mat-header-cell *matHeaderCellDef> Method Type </th>
            <td mat-cell *matCellDef="let element"> {{element.method_type}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <div class="divider"></div>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>