<div class="container-body">
  <mat-card>
    <mat-card-header class="title">
      <mat-card-title>Add record</mat-card-title>
      <mat-card-subtitle>Table : {{currentDomain?.domainName|titlecase|removeunderscore}}</mat-card-subtitle>
    </mat-card-header>
    <hr />
    <mat-card-content>
      <div *ngFor="let col of columns">
        <label>{{col.name | titlecase|removeunderscore}}</label>
        <mat-form-field>
          <input matInput autocomplete="off"  >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" >Save</button>
      <button mat-raised-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>