<div [formGroup]="formGroup">
    <div>
        <label [attr.for]="control.fieldName">{{control.fieldName | titlecase|removeunderscore}}</label>
    </div>
    <div>
        <div [ngSwitch]="control.controlType">
            <div *ngSwitchCase="'textbox'">
                <mat-form-field>
                    <input matInput autocomplete="off" [formControlName]="control.fieldName" [id]="control.fieldName"
                        [type]="control.type">
                </mat-form-field>
            </div>
            <div *ngSwitchCase="'radio'">
                <mat-radio-group *ngFor="let opt of control.options" [formControlName]="control.fieldName"
                    [id]="control.fieldName">
                    <mat-radio-button [value]="opt.value">
                        {{opt.key}}</mat-radio-button>&nbsp;
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="errorMessage" *ngIf="!isValid">{{control.fieldName|titlecase|removeunderscore}} is required*</div>
</div>