<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>API Generator</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/api/dashboard', encodeduuid]">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/api/create_api']">Create API</a>
      </li>
      <!-- <li>
        <a href="#">Select Project</a>
      </li> -->
    </ul>
    <ul class="list-unstyled">
      <!-- <li>
        <a [routerLink]="['create_api']">My Profile</a>
      </li> -->
      <li>
        <a [routerLink]="['/auth/logout']">Logout</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">    
    <router-outlet></router-outlet>
  </div>
</div>