<!-- Step:1 Create project and domain name -->
<div [formGroup]="projectGeneratorForm">
  <!--Form control -1 - Project Name-->
  <div>
    <label class="mat-label">Project Name : </label>
    <mat-form-field>
      <input matInput #projectName formControlName="projectName"
        (blur)="formatString(projectName.value,$event)"  autocomplete="off">    
        <mat-error *ngIf="projectGeneratorForm.invalid">{{getProjectNameErrorMessage()}}</mat-error>    
    </mat-form-field>    
  </div>
   <!--Form control -2 - Domain Name-->
  <div>
    <label class="mat-label">Domain Name : </label>
    <mat-form-field>
      <input matInput  #domainName formControlName="domainName"
        (blur)="formatString(domainName.value,$event)"  autocomplete="off">
        <mat-error *ngIf="projectGeneratorForm.invalid">{{getDomainNameErrorMessage()}}</mat-error>    
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" [disabled]="projectGeneratorForm.invalid" (click)="submitProject(1)">Next</button>
  </div>
</div>