<div [formGroup]="domainFieldsForm">
  <p class="mat-para">Add your field name and field data type</p>
  <div>
    <label class="mat-label">Project:</label>
    <label class="mat-text">Geoscience</label>


    <label class="mat-label">Domain:</label>
    <label class="mat-text">employees</label>
  </div>
  <div formArrayName="fieldControls">
    <div *ngFor="let item of domainFieldsFormGroup.get('fieldControls').controls; let i=index" [formGroup]="item">
      <!-- Form control for the field name -->
      <div>
        <mat-form-field class="mat-label">
          <input matInput placeholder="Field Name" formControlName="fieldNameCtrl" required autocomplete="off">
        </mat-form-field>
        <!-- Form control for the field type -->
        <mat-form-field class="mat-label">
          <mat-select formControlName="fieldTypeCtrl">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.value">
              {{fieldType.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="add()"><strong>+</strong></button>
      </div>
      <!-- Chosen name :{{domainFieldsFormGroup.controls.fieldControls.controls[i].controls.fieldNameCtrl.value}}
            Chosen type :{{domainFieldsFormGroup.controls.fieldControls.controls[i].controls.fieldTypeCtrl.value}} -->
    </div>
  </div>
  <div>
    <button mat-raised-button matStepperPrevious>Back</button>
    <div class="divider"></div>
    <button mat-raised-button color="accent" matStepperNext (click)="submitDomainFields()">Next</button>
  </div>
</div>