<div [formGroup]="domainFieldsForm" >
  <p class="mat-para">Add your field name and field data type</p>
  <div>
    <label class="mat-label">Project:</label>
    <label class="mat-text">{{data?.projectName}}</label>


    <label class="mat-label">Domain:</label>
    <label class="mat-text">{{data?.domainName}}</label>

    <button mat-mini-fab color="primary" (click)="add()"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
  </div>
  <div formArrayName="fields">
    <div *ngFor="let item of domainFieldsForm.get('fields').controls; let i=index;"  [formGroup]="item">
      <!-- Form control for the field name -->
      <div>               
        <mat-form-field class="mat-label">
          <input matInput placeholder="Field Name" formControlName="fieldName" #fieldName (blur)="formatString(fieldName.value,$event,i)"required autocomplete="off">
        </mat-form-field>
        <!-- Form control for the field type -->
        <mat-form-field class="mat-label">
          <mat-select formControlName="fieldType">
            <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType.value">
              {{fieldType.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <button mat-mini-fab color="primary" (click)="add()"><strong>+</strong></button>
        <div class="divider"></div> -->
        <button mat-button color="warn" (click)="remove(i)"><i class="fas fa-trash fa-lg" aria-hidden="true"></i></button>
      </div>     
    </div>       
  </div>
  <div>     
    <button mat-raised-button color="accent" matStepperNext (click)="submitDomainFields()">Next</button>
  </div>
</div>